# Build files
bin/
obj/
!/bin

# IDE files
.vs/
.vscode/
.idea/

# User files
*.suo
*.user
*.userprefs

# Package manager files
.nuget
.packages/

# Misc files
*.DS_Store

# Plugin files
.ionide/

# Generated representation files
tests/**/mapping.json
tests/**/representation.json
tests/**/representation.txt
